#  run source ./.venv/bin/activate befor pip install
# uvicorn main:app --reload
fastapi[standard]==0.115.6
uvicorn==0.32.1

sqlalchemy==2.0.36 # the orm
psycopg2-binary==2.9.10 # the driver for postgres
python-dotenv==1.0.0 # load .env variables

boto3==1.43.56

bcrypt==4.0.1
passlib==1.7.4
python-jose[cryptography]==3.3.0
